/* Font Rubik */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Rubik', sans-serif;
}
/* Navbar */
.navbar-brand img{
    width: 50px;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #67656c;
}
.navbar {
    box-shadow: 0px 1px 19px rgb(125 0 0 / 46%);
}
.navbar-light .navbar-nav .nav-link {
    
    color: #67656c;
    font-size: 18px;
    font-weight: 400;
    padding: 9px 25px;
    margin-top: 0px;
 
}
.nav-item:nth-last-child(1){
    margin-top: 0;
}
.navbar-nav {
    margin: 0 100px;
}
.nav-item button{
    border:none;
    margin-left: 52px;
    background-color: #ff4b57;
    color: #fff!important;
    padding: 8px 20px!important;
    border-radius: 2px;
    transition: 0.4s ease-in-out;
}
.nav-item button:hover{
    border: 2px solid #ff4b57;
    background: none;
    color: #ff4b57!important;
}
nav{
    background: #fff;
}
header{
    background: #f7515c;
}
/* Banner section */
.banner{
    background: #f7515c;
}
.banner p{
    color: #ececec;
    padding: 20px 0 30px;
}
/* All courses */
.catagories{
    margin-top: 50px;
    border-right: 2px solid rgb(175, 175, 175);
    position: relative;
}
.catagories::before{
   content: "";
   position: absolute;
   height: 25px;
   width: 3px;
   background: #f7515c;
   top: 3px;
   left: -1px;
}
.catagories ul{
    padding: 0;
    margin-top: 20px;
   
}
.catagories ul li{
    list-style: circle;
    padding: 10px 0;
   
}
.search{
    position: relative;
    margin-top: 50px;
    margin-left: 50px;
}
.search input{
    width: 240px;
    height: 37px;
}
.search .fas {
    position: absolute;
    left: 207px;
    top: 10px;
    font-size: 18px;
    color: lightgrey;
}
.btn-brand{
    border:none;
    background-color: #ff4b57;
    color: #fff!important;
    padding: 7px 15px!important;
    border-radius: 2px;
}
.btn-brand:hover{
    border: 2px solid #ff4b57;
    background: none;
    color: #ff4b57!important;
}
.img-box img{
    height: 300px;
    width: 300px;
    perspective: 1000px;
    position: relative;
    transition: 0.5s ease-in-out;
} 

.img-box img:hover{
    transform: rotateY(180deg);
    
}
.card-title {
    margin-bottom: 1rem;
}
.card {
    box-shadow: 0 0 22px rgb(211 211 211 / 50%);
}
